
<div class="form-group">
  <label >Patients Name</label>
  <input type="text"  name="pname" id="pname" class="form-control">
</div>

<div class="form-group">
  <label for="">Patients Phone</label>
  <input type="text"  name="phone" id="phone" class="form-control">
  
</div>
<div  class="form-group">
  
  <label for=""></label> Email</label>
  <input type="email" name="email1" id="email1">
</div>
<div  class="form-group">
  
  <label for="">Booking date</label>
  <input type="datetime" name="booking1" id="booking1">
</div>